<div class="modal-dialog modal-lg" style="z-index: 10000;" >
 <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">クーポンコード入力</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>   
    <div class="container">
        <%= form_with url: price_plan_path, method: "get" do |f| %>
           <table class="table table-bordered modal-table">
            <tbody>
              <tr>
                <th scope="row" style="background: #dcdcdc;">クーポンコード</th>
                <td><%= f.text_field :coupon, id: "coupon_code", style: "width: 100%;" %></td>
              </tr>   
            </tbody>
          </table>
          
        
          <div class="modal-footer">
            <div>
              <button type="button" class="btn btn-warning" data-bs-dismiss="modal">戻る</button>
            </div>
            <div>
              <%= f.submit "送信", class: "btn btn-primary btn-reserve-confirm", id: "price_list_select_submit" %>
            </div>
    
          </div>          
          
          
        <% end %>
        <div>※クーポンをお持ちでない方は空白で送信してください。</div>
    </div>
  </div>
</div>

<script>
    

function nidoosi2(form) {
    let elements = form.elements;
    for (let i = 0; i < elements.length; i++) {
            if (elements[i].type == 'submit') {
             elements[i].disabled = true;
            }
    }
} 


$('#holiday').on('click', function(){
    // 2重送信防止クラスのチェック
    if ( $(this).hasClass('double_click') ){
        return false;
    }
    $(this).text("処理中...");
    // 2重送信防止クラス
    $(this).addClass('double_click');
});

      document.getElementById("price_list_select_submit").addEventListener('click', () => {
        document.querySelector('.overlay').classList.remove('show');
        document.getElementById('open').classList.remove('hide');
      });
</script>

<style>
    
    .modal-footer {
        border-top: none;
    }
    
</style>



