<div>
    <img src="/new-images/about_metatron_top.png" class="about-metatron-top-image" >
    <img src="/new-images/sp_about_metatron_top.png" class="sp-about-metatron-top-image" >
</div>

<div id="coupon-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>


<%= render 'layouts/main/price_banner' %>
<div id="about_metatron">

    <section class="about-metatron">
        <div class="title-1">mStarCOSMICの</div>
        <div class="title-2">メタトロンとは</div>
        <div class="features-topics">
            <div><img src="/new-images/20230924/about_metatron_1.png" class="feature-topic-img"></div>
            <div><img src="/new-images/20230924/about_metatron_2.png" class="feature-topic-img"></div>
            <div><img src="/new-images/20230924/about_metatron_3.png" class="feature-topic-img"></div>
        </div>
        <div>
            <p>最近では健康系だけでなくファッション雑誌にも取り上げられ、幅広い世代から注目を集めている次世代医療・量子波動測定器「メタトロン」。メタトロン波動測定器は、ロシア人科学者によって開発された周波数を測定する機械で、心と体の状態を周波数で把握することができます。</p>
            <p>メタトロン波動測定器では大きく分けて下記の2つのことができます。身体の状態を測定し、全身の状態を視覚化し教えてくれるバランスが整っていない箇所をその場ですぐにメタセラピーしてくれます。</p>
            <p>上記以外にも、合わない食べ物や食べすぎている食物、飲み物などを教えてくれたり、目には見えないチャクラのバランスを教えてくれます。メタトロン波動測定器は「医療機器」ではありませんが、欧米ではすでに医療現場で使用され多くの結果を残しております。</p>
            <p>細部（4000～10万ヶ所以上）にわたって体のバランス状態を調査し、調査結果をパソコンの画面にわかりやすく表示します。</p>
        </div>
    </section>
    <section class="metatron-features">
        <div class="title">メタトロンの特長</div>
        <div class="img-area">
            <div><img src="/new-images/not_medical.png" class="feature-topic-img"></div>
            <div><img src="/new-images/body_support.png" class="feature-topic-img"></div>
            <div><img src="/new-images/teaching.png" class="feature-topic-img"></div>
        </div>
        <div class="metatron-features-title">
            メタトロンはNonLinerarSystem（非線形診断システム）です。
            非接触、非侵襲、短時間で安全にNLS分析理論に基づき、身体の部位含むそれぞれの情報を数値化して、可視化することによって、健康管理に役立つ指標とすることができます。
            身体のバランスの調整や情報伝達がうまく動いているか？などを調査し可視化したものを、メタセラピーや
            オルガノセラピーをかけることで正しいバランスに調整していくものです。
            なぜ、メタトロンでそんなことができるのでしょう？
            私たちの臓器や細胞にはそれぞれの固有の周波数があるのですが、それらの周波数が乱れると、不調や病気を引き起こすと
            考えられています。
        </div>
        <div class="features-image-area">
            <div class="metatron-feature-each">
                <img src="/img/feature-1.jpg" class="feature-img">
                <div class="title">あなたのチャクラの<br>状態や経絡の状態<br>を知ることができる</div>
                <div class="detail">
                  メタトロンは７つのチャクラが見ることができます。チャクラとは、古代インドのサンスクリット語で「円、円盤、車輪、轆轤（ろくろ）」という意味で「オーラ体を回転するエネルギーの渦」です。
                  第1チャクラは、地に足を付けて現実的に生きる力を意味していて、ここが弱いと安定性がなく真の成長は望めません。
                  第２チャクラは、創造的活動と性的活動を担う。開くことで性的活動が安定し、ストレスやトラウマからの開放、自分の創造性を十分に発揮できるようになります。
                  第３チャクラは、自分の力を信じ、エネルギーの源となるチャクラです。バランスが取れていないと、自分の思考・言動に自信が持てず、仕事での悩みが絶えないでしょう。
                  第４チャクラは、愛のチャクラで、他者だけでなく自分を愛し許すことができる無条件の愛をもたらすチャクラです。
                  第５チャクラは喉に位置していることからも分かるように「声・言葉」を司っています。それはすなわち、コミュニケーション能力に通じます。
                  第６チャクラは、視覚的に直接見えている範囲を超えて視える力をもたらします。
                  第７チャクラが開くと、自然と自分が生まれた目的を理解し、イキイキと人生を歩むことができます。
                </div>
                <div class="sp-detail">
                  メタトロンは７つのチャクラが見ることができます。チャクラとは、古代インドのサンスクリット語で「円、円盤、車輪、轆轤（ろくろ）」という意味で「オーラ体を回転するエネルギーの渦」です。
                  第1チャクラは、地に足を付けて現実的に生きる力を意味していて、ここが弱いと安定性がなく真の成長は望めません。
                  第２チャクラは、創造的活動と性的活動を担う。開くことで性的活動が安定し、ストレスやトラウマからの開放、自分の創造性を十分に発揮できるようになります。
                  第３チャクラは、自分の力を信じ、エネルギーの源となるチャクラです。バランスが取れていないと、自分の思考・言動に自信が持てず、仕事での悩みが絶えないでしょう。
                  第４チャクラは、愛のチャクラで、他者だけでなく自分を愛し許すことができる無条件の愛をもたらすチャクラです。
                  第５チャクラは喉に位置していることからも分かるように「声・言葉」を司っています。それはすなわち、コミュニケーション能力に通じます。
                  第６チャクラは、視覚的に直接見えている範囲を超えて視える力をもたらします。
                  第７チャクラが開くと、自然と自分が生まれた目的を理解し、イキイキと人生を歩むことができます。
                </div>
            </div>
            <div class="metatron-feature-each">
                <img src="/img/holistic9.jpg" class="feature-img" >
                <div class="title">あなたの身体の状態が<br>15～30分でわかる。<br>　</div>
                <div class="detail">
                   あなたの身体をナノスキャンし、身体のどの部分がアンバランスになっているかを膨大なデータから分析し、
                   独自のイラストに可視化してみせてくれます。
                   心臓、骨、循環器、リンパ、内臓、脳など、普段見ることのできない皮膚や細胞なども可視化します。
                   それぞれの状態を12段階で表してくれ、チューニング機能を使って共鳴ノイズを正しい方に導きます。
                </div>
                <div class="sp-detail">
                   あなたの身体をナノスキャンし、身体のどの部分がアンバランスになっているかを膨大なデータから分析し、
                   独自のイラストに可視化してみせてくれます。
                   心臓、骨、循環器、リンパ、内臓、脳など、普段見ることのできない皮膚や細胞なども可視化します。
                   それぞれの状態を12段階で表してくれ、チューニング機能を使って共鳴ノイズを正しい方に導きます。
                </div>                
            </div>      
            <div class="metatron-feature-each">
                <img src="/img/feature-3.jpg" class="feature-img" >
                <div class="title">今の状態に合う食材<br>合わない食材や漢方<br>などがわかる</div>
                <div class="detail">
                  メタトロンはその食物の周波数と本人の周波数が共鳴しているかどうかをされに測定し視覚化してくれます。
                </div>
                <div class="sp-detail">
                    メタトロンはその食物の周波数と本人の周波数が共鳴しているかどうかをされに測定し
                    視覚化してくれます。
                </div>                 
            </div>
        </div>
    </section>
    <section class="metatron-description">
        <div class="description">
            <img src="/new-images/description.png" class="description-img">
        </div>
        <div class="description-word">
            メタトロンはロシア人科学者によって開発されたエントロピー測定機器です。東洋医学やアーユルヴェーダの考えが広く取り入れられており、世界最先端技術と伝承医学の融合により、全身の生体磁場エネルギーを読み取り、エントロピーの状態を客観的に測定します。ロシア国民栄誉賞を受賞された著名な物理学者で医学博士でもある I.V. ネストロフ博士たちは、旧ソ連の国家プロジェクトとして研究していた宇宙開発や軍事向け研究開発から人体研究を引き継ぎ発展させ、人体から発するわずかな磁気波動や振動などから人体内の微細なエネルギー変化、4000〜5500ケ所以上の身体の状況を分析しコンピュータ上に表示する技術を開発し、全身の器官のエネルギー状態を測定します。
            本来はロシアの宇宙飛行士の健康維持のために開発された音による診断治療装置がはじまりです。宇宙飛行士は宇宙にいる間、健康状態を誰にも診てもらえません。その為、宇宙に飛行する前に飛行士の健康状態や病気の発生を予防する方法として、超低周波診断治療装置を使用しました。この測定機器は、現在の医師法・薬事法で規定される医療機器ではありません。また人体に完全に非侵襲です。医師や有資格者による診断を代行するものでもなく、病名や臓器の部位を特定し診断したり 、治療する目的ではありません。
            医師法・薬事法などの諸法規の範囲外における日常的な健康管理を対象としてものであり、お客様の意思によって実行される健康管理のための様々な情報をご提案いたします。最終的な判断は、お客様ご自身であり、病気等についてのご質問は医師や医療機関にご相談下さい。
            MTRは微細磁場での極低周波数を利用し、 1990年に設立された TheInstitute of Practcai lPsychophysics(Omsk )での膨大なデータベースを分析、処理することにより、測定した身体のエントロピーの様々な状態を知ることができます。その精度に関しては、 100％断言するものではありません。担当するオペレーターはお客様に代わって操作し、メタトロンから導かれた健康情報をお伝え致します。
        </div>
    </section>
    
</div>
