<div>
    <img src="/new-images/special_treatment.jpg" class="about-metatron-top-image" >
    <img src="/new-images/sp_special_treatment.jpg" class="sp-about-metatron-top-image" >
</div>
<div id="fasting">

    <section class="about-metatron">
        <div class="title-1">ファスティングとは？</div>
        <div>
            <p>ファスティング（断食）は、健康促進、ダイエット、エイジングケア、美容などの目的で一定の期間、全ての食物もしくは特定の食べ物の摂取を断つことです。<br>
            ファスティングには色々な方法があり、最近良く耳にする16時間ファスティングや１日のうち1～2食を抜くもの、数日間食事を摂らないもの等、さまざまあります。<br>
            私たちがおススメするファスティングは数日間主にファスティングドリンク、サプリメントで過ごして頂く方法です。<br>
            食べずに消化器官を休めることで、①デトックス効果。②血液がきれい。③細胞が元気。④慢性的な不調の改善傾向。⑤肌がツヤツヤ。など嬉しい変化が期待できます。<br>
            ｍStarCOSMICのファスティングは前後の準備食から回復食までしっかりフォローし、ファスティング効果を高めるお手伝いをさせて頂きます。<br>
            始めてのファスティングは不安も多いと思いますが、やってみるとイメージしていたほど辛くなく、カラダの変化を楽しみながら、結果的にやって良かったと思えます。実際私もそうでしたが、またやりたい、皆さんに伝えたいと思えるほどでした。<br><br>
            一緒に、ファスティングにチャレンジして、デトックスしましょう！
            </p>
        </div>
        <hr>
        <div class="cristing_program">
            <p class="cristing_program_title">クリスティング基本プラン2022年度(ファスティング)プログラム ⇒ 120000円</p>
            <ul>
              <li>準備期間→７〜10日間</li>
              <li>準備食→３日間</li>
              <li>ファスティング→最低５日間(延長可能)</li>
              <li>回復食→３〜５日間(延長すればするほど良い)</li>
              <li>酵素ドリンク→３本(追加購入可) ⇒ 定価39000円</li>
              <li>体重測定→４回</li>
              <li>ウエルビーイングメタトロン → 4回 ⇒ 定価40000円</li>
              <li>腸もみ→３回 ⇒ 定価15000円</li>
              <li>栄養指導→１回 ⇒ 定価3000円</li>
              <li>補助食品指導→３回</li>
              <li>ライフスタイルチェック→都度</li>
              <li>クリスティング終了後１ヶ月後にウェルビーイング健康チェック付き</li>
              <li>クリスティング終了１ヶ月時に目標達成者には、アーユルヴェーダのお食事券プレゼント</li>
            </ul>
        </div>
        <hr>
        <div class="chomomi_qa">
            <table class="chomomi_qa_table">
              <tr class="tr">
                <td class="head">Q.</td>
                <td class="content">ファスティング中は何も食べないのですか？</td>
              </tr>
              <tr>
                <td class="head">A.</td>
                <td class="content">基本的には希釈したファスティングドリンクをこまめに補給して過ごして頂きます。
                必要に応じで梅干しやお塩、マグネシウムやＢ群サプリ等を補給して頂きます</td>
              </tr>
            </table>
            <table class="chomomi_qa_table">
              <tr class="tr">
                <td class="head">Q.</td>
                <td class="content">何も食べなくてつらくないですか？</td>
              </tr>
              <tr>
                <td class="head">A.</td>
                <td class="content">準備食にしっかり取り組むことと、ファスティングドリンクで血糖値を維持することで皆様のイメージ程辛くはないと思われます。</td>
              </tr>
            </table>
            <table class="chomomi_qa_table">
              <tr class="tr">
                <td class="head">Q.</td>
                <td class="content">ファスティングドリンクは規定量飲まなくても良いですか?</td>
              </tr>
              <tr>
                <td class="head">A.</td>
                <td class="content">ファスティングドリンクを飲む量が少ないと代謝の低下や体調不良を招くので規定量はしっかり飲むことをお願い致します。</td>
              </tr>
            </table>
            <table class="chomomi_qa_table">
              <tr class="tr">
                <td class="head">Q.</td>
                <td class="content">ファスティング後、カフェイン、パン、小麦食品、お菓子、お酒、たばこなどの嗜好品をいつから良いですか？</td>
              </tr>
              <tr>
                <td class="head">A.</td>
                <td class="content">ファスティング後、3～4日は控えて頂きたいです。
できれば、その後も控えて頂けると更に健康と美容を追求できると思います</td>
              </tr>
            </table>
            <table class="chomomi_qa_table">
              <tr class="tr">
                <td class="head">Q.</td>
                <td class="content">サプリやプロテインなどはいつから飲めますか？</td>
              </tr>
              <tr>
                <td class="head">A.</td>
                <td class="content">回復食1日目からでも大丈夫です。</td>
              </tr>
            </table>
        </div>
    </section>
    <section class="reviews">
        <hr>
          <!-- review 1 -->
        <div class="review">
          <div class="review_left">
            <h4><span>感想１</span></h4>
            <div class="name">Sさん（20代後半男性）</div>
            <div class="before_after_img_area">
              <img src="/new-images/before_after_shuichi_01.jpg" class="before_after_img">
            </div>
          </div>
          <div class="content">
            クリスティングプログラムを実践する前は5日間も食べずに酵素ドリンクのみで生活できるのか、本当に体が変わるのか、自分自身不安でした。<br>
            周りからは、食べないと倒れるんじゃないか？痩せてもどうせリバウンドするよ！変なことしない方が良いよ！等、色々なことを言われました。<br><br>
            そんな中、私が常に前向きな気持ちでプログラムに取り組めたのは「なりたい体の目標設定」「自分に合った分かりやすく綿密なサポートをいただいたこと」
            この2点でした。<br><br>
            そして、実際にプログラムを実践していくと、ビックリするほど体が変化していき、沢山の気づきと良い結果を得ることができました。<br><br>
          </div>
        </div>
        <ul>
          <li>✔ 血糖値次第で空腹感が全くなくなる</li>
          <li>✔ 体調が良くなった（ダルさが全くなく1日を通して睡魔が来ない）</li>
          <li>✔ 朝の目覚めが格段に良くなった</li>
          <li>✔ 口に入れる物で体は決まることを体感した</li>
          <li>✔ 食欲をコントロールできるようになった</li>
          <li>✔ 体に良い食事、食材をチョイスするようになった</li>
          <li>✔ よく噛んで食べるようになった（大体10分くらいでかけこんでたのが、今は女性よりも遅いです笑）</li>
          <li>✔ 体重等のコントロールができるようになった</li>
          <li>✔ 理想の体に変化していくことで自己肯定感が上がった</li>
        </ul>
        <br>
        <div>
          取り組む前の想像を遥に超える気づきと結果を得れました！<br>
          今では、会う人全員に凄い痩せたね！良い感じ！やって良かったね！等の言葉をかけていただき幸せです。😵✨
        </div>
        <br>
        <div>
          クリスティングプログラム終了後も思い通りに体が絞れ、今では自由自在に体をコントロールできるマインド、知識、習慣が身につけることができ最高です！！！
          <br>本当にやって良かった！！！
        </div>
        <br>
        <div>
          痩せたい、体調を整えたい、体を一度リセットしたい等と思っている方にはとてもオススメです😄<br>
          自身のやる気と、ここのサポートがあれば、理想の体を手に入れれることは間違いなしです！！！
        </div>
        <br>
        <div>
          是非チャレンジしてみて下さい^_^！<br>
          1人でも多く、自分の体と自分の習慣に幸せを感じれる人が増えたら嬉しいです😵✨
          <br>クリスティングプログラムスタッフの皆様本当にありがとうございました！！！

        </div>
        
        <hr>
          <!-- review 1 -->
        <div class="review">
          <div class="review_left">
            <h4><span>感想２</span></h4>
            <div class="name">Kさん（60代女性）</div>
            <div class="before_after_img_area">
              <img src="/new-images/keikobefore_after.jpg" class="before_after_img">
            </div>
          </div>
          <div class="content">
            ファスティング10日間やりました。いろんなダイエットしましたが、<br>
            人生でこんなに断食したのは、初めて。<br><br>
            断食６日目チョウモミ2回目したあたりに毎日腸の残りかすが毎日出てきました。<br>
            なんかとってもデトックスされた気がしています！<br>
            4キロほど落ちて、少し戻ったりしましたが、その後にゆっくり戻し、<br>体が締まってきました。<br><br>
          </div>
        </div>
      <hr>
    </section>
    
</div>