<!--<h3 style="text-align: center; padding-top: 30vh;">建設中！！</h3>-->

<script src="https://kit.fontawesome.com/051cef80cf.js" crossorigin="anonymous"></script>
<div>
    <img src="/new-images/special_treatment.jpg" class="about-metatron-top-image" >
    <img src="/new-images/sp_special_treatment.jpg" class="sp-about-metatron-top-image" >
</div>
<div id="special_treatment">

    <section class="about-metatron">
        <div class="title-1">腸もみとは？</div>
        <div>
            <p>
              ヒトは冷えると固まりやすい性質があり、全身のどんな場所にもかたまり(しこり)はでき、それは腸にもできます。<br>
              冷え以外にもそのヒトの食生活や姿勢、生活習慣やストレスなどの問題で、たいていのヒトは、硬いおなかになっています。<br>
              腸もみでは、おなかの固くなった部分を中心にマッサージを施すことで緊張をほぐし、腸を本来の良い状態に戻していきます。<br><br>
              こんな方にお勧め<br>
              便秘、疲労感、肌荒れ、アレルギー、冷え性、むくみなどにお困りの方、その他、免疫力を高めて体質改善したい方、予防したい方におススメです。<br>
              <br>
              腸もみのメリット<br>
              腸のぜんどう運動が活発になり、便秘の解消！<br>
              老廃物がスムーズに排泄され、肌の調子が良くなる！<br>
              栄養吸収の効率が高まり、不調の改善に！<br>
              内臓を正しい位置に戻せば、脂肪がつきにくくなる！<br><br><br>
              <span style="font-weight: bold;">料金プラン</span><br>
              初回3000円　　２回目以降5000円
            </p>
        </div>
    </section>
</div>