<%= render 'layouts/main/metatron_sale_inquiry_link' %>

<div>
    <img src="/new-images/metatron_sale.png" class="about-metatron-top-image" >
    <img src="/new-images/sp_metatron_sale.png" class="sp-about-metatron-top-image" >
</div>
<div id="metatron_sale">
    <section class="description">
       <div class="title-1">メタトロン購入ページ</div>
          メタトロン購入を検討の方は是非一度体験にいらしてください。
          WELL BEING（ウェルビーイング）は２D→約4000ヵ所をリサーチ
          Oriental Holistic（オリエンタルホリスティック）は４D→約5500ヵ所をリサーチ
          
          非接触・非侵襲・短時間で安全にデータ収集し、身体の情報を分析したものを画像で可視化できるシステムです。
          本機は医療機器ではありません。日本市場向けの『健康管理を目的とした』新世代のソフトウェアです。
          現代医療に関与しないNLS診断法理論に基づいて分析を行い可視化された情報を健康管理目的で使用する為のシステムです。
          
          
          <div class="merit-title">メタトロンのメリット</div>
          <ul>
            <ol>&#9312;体内への侵襲がないので安全です。</ol>
            <ol>&#9313;測定時間が短く気軽にできます。服装も気にしなくて大丈夫です。</ol>
            <ol>&#9314;操作が簡単で安価で購入が可能です。ご家庭用にもサロン開設にも対応可能です。</ol>
            <ol>&#9315;NLS分析に基づき膨大なBIGデータから分析精度が高まります。</ol>
            <ol>&#9316;身体状態のノイズを数値化分析し、メタトロン独自のイラストに可視化された指標が健康管理にお役立て出来ます。</ol>
            <ol>&#9317;チャクラ・経絡・感情・骨格・内臓・漢方・食品等で自分の身体のバランスチェックが出来ます。</ol>
            <ol>&#9318;持ち運びもできます。</ol>
          </ul>
          
          まずは体験 or 相談にきませんか？
          遠方の方は出張も致します。
    </section>
</div>
