<div>
    <img src="/new-images/metatron_price_top.jpg" class="about-metatron-top-image" >
    <img src="/new-images/sp_metatron_price.jpg" class="sp-about-metatron-top-image" >
</div>
<div id="price_plan">
    <section class="title-area">
        <div class="title-jp">必ずお読みください</div>
        <div class="title-eng">Please be sure to read it</div>
        <div>☆初めに、無料会員登録をしていただくと、会員価格でカレンダーから予約ができます。登録しないで予約の場合は問合せページか電話でご予約承ります。会員価格より2000円高くなりますのでご了承ください。</div><br>
        <div>☆ご予約の際、他の方と一緒になる可能性があります。貸切希望の場合は、予約表が◎になっていることを確認し、備考欄に貸切希望とお書きください。貸切料は5000円プラスでできます。</div><br>
        <div>☆前日、当日キャンセルは現金もしくは、振込にて全額お支払いして頂きますのでご了承下さい。</div><br>
        <!--<div>☆セラピスト指名の場合はカレンダー選択の時に指名お願いします。指名料1000円がかかります。</div><br>-->
    </section>
    <section class="therapy">
        <div class="therapy-title">セラピー料金<span style="font-size: 16px; font-weight: normal;">　＊HPのサイトに無料登録された方は Members価格になります</span></div>
            <div class="price_change">  
            <div id="price_change_button">【お知らせ】価格改定に関するご案内&#9759</div>
            <div class="price_change">  
              <div>いつもご利用いただきありがとうございます。
              このたび、弊社ではインボイス（請求書）制度が導入されるに伴い、
              今までサービスしてましたが、料金に消費税を含めることとなりました。
              つきましては、税込価格での価格改定を実施させていただくこととなりました。
              変更前の税抜価格に加え、消費税率（現在の税率は10%です）を加算した、
              税込価格での新価格をご案内させていただきます。</div>
              <div>この価格改定は、インボイス制度の導入に伴い、法律に基づくものです。
              ご理解・ご協力のほど、何卒よろしくお願い申し上げます。
              なお、価格改定後もサービスの品質や内容に変更はございません。
              引き続き、お客様にご満足いただけるサービスを提供してまいります。
              ご不明点やお問い合わせがございましたら、お気軽に弊社までご連絡ください。</div>
              <div>今後とも、より一層のご愛顧を賜りますよう、心よりお願い申し上げます。</div>
            </div>
            <table class="table">
              <thead>
                <tr>
                  <th rowspan="3" style="background: #000000ba;"></th>
                  <!--<th colspan="4">Wellbeing</th>-->
                  <th colspan="4">Oriental Holistic</th>
                </tr>
                <tr class="title">
                  <!--<th colspan="2">初めての方</th>-->
                  <!--<th colspan="2">２回目以降</th>-->
                  <th colspan="2">初めての方</th>
                  <th colspan="2">２回目以降</th>
                </tr> 
                <tr class="title">
                  <!--<th>基本60分</th>-->
                  <!--<th>詳細90分</th>-->
                  <!--<th>基本60分</th>-->
                  <!--<th>詳細90分</th>-->
                  <th colspan="2">60分</th>
                  <!--<th>詳細90分</th>-->
                  <th colspan="2">60分</th>
                  <!--<th>詳細90分</th>                  -->
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row" style="font-size: 12px;">Non Member</th>
                  <!--<td>17000円</td>-->
                  <!--<td>20000円</td>-->
                  <!--<td>14000円</td>-->
                  <!--<td>18000円</td>-->
                  <td colspan="2">22000円</td>
                  <!--<td>23000円</td>-->
                  <td colspan="2">18000円</td>
                  <!--<td>20000円</td>-->
                </tr>                
                <tr>
                  <th scope="row" style="font-size: 12px;">Members</th>
                  <!--<td>14000円</td>-->
                  <!--<td>18000円</td>-->
                  <!--<td>12000円</td>-->
                  <!--<td>16000円</td>-->
                  <td colspan="2">18500円</td>
                  <!--<td>21000円</td>-->
                  <td colspan="2">16000円</td>
                  <!--<td>18000円</td>-->
                </tr>
                <tr>
                  <th scope="row" style="font-size: 12px;">Special Members</th>
                  <!--<td>12000円</td>-->
                  <!--<td>16000円</td>-->
                  <!--<td>10000円</td>-->
                  <!--<td>14000円</td>-->
                  <td colspan="2">16000円</td>
                  <!--<td>19000円</td>-->
                  <td colspan="2">13000円</td>
                  <!--<td>16000円</td>-->
                </tr>
                <tr>
                  <td scope="row">☆チャクラ＋経穴＋感情診断(30分)　上記と同時 <i class="fas fa-long-arrow-alt-right"></i> 2,000円   単体の予約 <i class="fas fa-long-arrow-alt-right"></i> 5,000円</td>
                </tr>
              </tbody>
            </table>
            
            <!--<div style="font-size: 14px;">※ セラピスト指名の場合は指名料が1,000円かかります。</div>-->
    </section>
    <section class="sp-therapy">
        <div class="therapy-title">セラピー料金</div>
            <div id="sp-price_change_button">【お知らせ】価格改定に関するご案内&#9759</div>
            <div class="price_change">  
              <div>いつもご利用いただきありがとうございます。
              このたび、弊社ではインボイス（請求書）制度が導入されるに伴い、
              今までサービスしてましたが、料金に消費税を含めることとなりました。
              つきましては、税込価格での価格改定を実施させていただくこととなりました。
              変更前の税抜価格に加え、消費税率（現在の税率は10%です）を加算した、
              税込価格での新価格をご案内させていただきます。</div>
              <div>この価格改定は、インボイス制度の導入に伴い、法律に基づくものです。
              ご理解・ご協力のほど、何卒よろしくお願い申し上げます。
              なお、価格改定後もサービスの品質や内容に変更はございません。
              引き続き、お客様にご満足いただけるサービスを提供してまいります。
              ご不明点やお問い合わせがございましたら、お気軽に弊社までご連絡ください。</div>
              <div>今後とも、より一層のご愛顧を賜りますよう、<br>心よりお願い申し上げます。</div>
            </div>
        <div>＊HPのサイトに無料登録された方は </div>
        <div>　Members価格になります</div>
        <div class="therapy-title-member">Oriental Holistic</div>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th rowspan="2" style="background: #000000ba;"></th>
                  <th colspan="2">初めての方</th>
                  <th colspan="2">２回目以降</th>
                </tr>
                <tr class="title">
                  <th colspan="2">60分</th>
                  <!--<th>詳細90分</th>-->
                  <th colspan="2">60分</th>
                  <!--<th>詳細90分</th>-->
                </tr>
              </thead>
              <tbody>
                <tr>
                <tr>
                  <th scope="row" style="font-size: 10px;">Non Member</th>
                  <!--<td>20000円</td>-->
                  <td colspan="2">22000円</td>
                  <!--<td>16000円</td>-->
                  <td colspan="2">18000円</td>
                <tr>
                  <th scope="row" style="font-size: 10px;">Members</th>
                  <!--<td>17000円</td>-->
                  <td colspan="2">18500円</td>
                  <!--<td>14000円</td>-->
                  <td colspan="2">16000円</td>
                </tr>
                <tr>
                  <th scope="row" style="font-size: 10px;">Special Members</th>
                  <!--<td>15000円</td>-->
                  <td colspan="2">16000円</td>
                  <!--<td>12000円</td>-->
                  <td colspan="2">13000円</td>
                </tr>
              </tbody>
            </table>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>☆チャクラ＋経穴＋感情診断(30分)　上記と同時 <i class="fas fa-long-arrow-alt-right"></i> 2,000円   単体の予約 <i class="fas fa-long-arrow-alt-right"></i> 5,000円</th>
                </tr>
              </tbody>
            </table>            
            <!--<div style="font-size: 14px;">※セラピスト指名の場合は指名料が1,000円かかります。</div>-->
    </section>
    <section class="ticket-plan">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th style="background: #000000ba; color: #fff;">お得な回数券(10枚)</th>
                  <th style="background: #000000ba; color: #fff;">集中的に受けたい方(5枚)</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>「Oriental Holistic」<br>
                       Members  <i class="fas fa-long-arrow-alt-right"></i> 140,000円<br>
                       Special Members  <i class="fas fa-long-arrow-alt-right"></i> 110,000円<br><br>
                       ・ご家族で使用OK<br>
                       ・有効期限は発行日から1年
                       ・紹介料キャッシュバック併用不可<br>
                       ・転売禁止<br>
                       ・キャンセル時、消化不可<br>
                       ・不使用回数を返金することはできません<br>
                      <!-- ・セラピスト指名の場合は指名料<br>-->
                    　 <!--の1,000円かかります<br><br>-->
                  </td>
                  <td>
                       Members  <i class="fas fa-long-arrow-alt-right"></i> 65,000円<br>
                       Special Members  <i class="fas fa-long-arrow-alt-right"></i> 50,000円<br><br> 
                       初日から１ヶ月有効　<i class="fas fa-long-arrow-alt-right"></i>　5回まで<br>
                       ・本人のみ使用可能<br>
                       ・キャンセル時、消化不可<br>
                       ・不使用回数券を返金する事はできません<br>
                       ・紹介料キャッシュバック併用不可<br>
                      <!-- ・セラピスト指名の場合は指名料<br>-->
                    　 <!--の1,000円かかります<br><br>-->
                  </td>
                </tr>
                <tr>
                  <td>
                    ☆６人以上から出張致します。<br>
                    少人数の場合はご相談ください。<br>
                    交通費往復＋出張費を頂いています。<br>
                    &#9312;片道60分未満 10,000円+交通費実費<br>
                    &#9313;	片道60分以上　20,000円+交通費実費<br>
                    宿泊が必要な場合は、宿泊費も頂戴しています。<br>
                    ・回数券併用不可ですが、家族使用の回数券を使用する場合は、<br>
                    &emsp;出張費の5,000円と交通費を別途頂きます。<br>
                    ・出張キャンセルは１週間前までにご連絡下さい。<br>
                    &emsp;それ以降はキャンセル料として人数分全額頂きますのでご了承ください。<br>
                    ・人数が多い場合は２台体制で伺います。
                    <br><br>
                    ２Dで下記の値段<br>
                    ４Dは下記に1,000円UP<br>
                    小学生３年生までは半額<br>
                    小学生４年〜中学２年は8,000円<br>
                    あとは大人と一緒です<br><br>
                    コンスタントに出張に行っている地域<br>
                    東京・神奈川・千葉・埼玉・福島・神戸・大阪・京都・滋賀・名古屋・広島・福岡・北九州・熊本・長野・香川・徳島
 
                    
                  </td>
                </tr>
              </tbody>
            </table>      
      
    </section>
    <section class="sp-ticket-plan">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th style="background: #000000ba; color: #fff;">お得な回数券(10枚)</th>
                  <!--<th style="background: #000000ba; color: #fff;">集中的に受けたい方</th>-->
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>「Oriental Holistic」<br>
                       Members  <i class="fas fa-long-arrow-alt-right"></i> 140,000円<br>
                       Special Members  <i class="fas fa-long-arrow-alt-right"></i> 110,000円<br><br>
                       ・ご家族で使用OK<br>
                       ・有効期限は発行日から1年
                       ・紹介料キャッシュバック併用不可<br>
                       ・転売禁止<br>
                       ・キャンセル時、消化不可<br>
                       ・不使用回数を返金することはできません<br>
                      <!-- ・セラピスト指名の場合は指名料<br>-->
                    　 <!--の1,000円かかります<br><br>-->
                  </td>
                </tr>
              </tbody>
            </table>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th style="background: #000000ba; color: #fff;">集中的に受けたい方(5枚)</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    Members  <i class="fas fa-long-arrow-alt-right"></i> 65,000円<br>
                       Special Members  <i class="fas fa-long-arrow-alt-right"></i> 50,000円<br><br> 
                       初日から１ヶ月有効　<i class="fas fa-long-arrow-alt-right"></i>　5回まで<br>
                       ・本人のみ使用可能<br>
                       ・キャンセル時、消化不可<br>
                       ・不使用回数券を返金する事はできません<br>
                       ・紹介料キャッシュバック併用不可<br>
                      <!-- ・セラピスト指名の場合は指名料<br>-->
                    　 <!--の1,000円かかります<br><br>-->
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="remarks">
                    ☆６人以上から出張致します。<br>
                    少人数の場合はご相談ください。<br>
                    交通費往復＋出張費を頂いています。<br>
                    &#9312;片道60分未満 10,000円+交通費実費<br>
                    &#9313;	片道60分以上　20,000円+交通費実費<br>
                    宿泊が必要な場合は、宿泊費も頂戴しています。<br>
                    ・回数券併用不可ですが、家族使用の回数券を使用する場合は、<br>
                    &emsp;出張費の5,000円と交通費を別途頂きます。<br>
                    ・出張キャンセルは１週間前までにご連絡下さい。<br>
                    &emsp;それ以降はキャンセル料として人数分全額頂きますので<br>
                    &emsp;ご了承ください。<br>
                    ・人数が多い場合は２台体制で伺います。
                    <br><br>
                ２Dで下記の値段<br>
                ４Dは下記に1,000円UP<br>
                小学生３年生までは半額<br>
                小学生４年〜中学２年は8,000円<br>
                あとは大人と一緒です<br><br>
                コンスタントに出張に行っている地域<br>
                東京・神奈川・千葉・埼玉・福島・神戸・大阪・京都・滋賀・<br>名古屋・広島・福岡・北九州・熊本・長野・香川・徳島

            </div>
    </section>
</div>

<style>

#price_change_button {
  font-size: 13px;
  /*text-align: center;*/
}


#sp-price_change_button {
  font-size: 13px;
}

.price_change {
  font-size: 10px;
  padding-bottom: 10px;
}

   #price_plan .title-area {
     font-size: 14px;
   }
   
   #price_plan > section > .title-eng {
      font-size: 2vw;
      font-weight: 550;
      margin-bottom: 30px;
  }
   
   th,td {
        border: 1px solid #dddddd;         /* 枠線指定 */
        padding: 8px;
        line-height: 1.42857143;
        text-align: center;
    }

   table.table {
    border-collapse:  collapse; /* セルの線を重ねる */
    width:  100%;               /* 幅指定 */
    table-layout: fixed;        /* セルの幅計算指定 */
    font-size: 14px;
    margin-bottom: 20px;
    border-top: 1px solid #ddd;
   }

   #price_plan  section.therapy {
     display: block;
   }
  
   #price_plan  section.sp-therapy {
     display: none;
   }


    #price_plan {
        width: 80%;
        margin: 80px auto 50px;

    }
    
    #price_plan > .construction {
        text-align: center;
        font-size: 3rem;
        font-weight: 600;        
    }
    
    
    #price_plan > .therapy >.therapy-title {
        font-size: 25px;
        font-weight: 600;
        margin-bottom: 30px 0;
    }
    
    #price_plan > section > .title-eng {
        font-size: 2vw;
        font-weight: 500;
        margin-bottom: 30px;
    }
    
    #price_plan > section.therapy > table td {
        text-align: center;
    }
    
    #price_plan > section.ticket-plan {
      display: block;
    }
    
    #price_plan > section.sp-ticket-plan {
      display: none;
    }
    
@media (max-width: 768px) {
  
  #price_plan section.therapy {
    display: none;
  }
  
  #price_plan  section.sp-therapy {
    display: block;
    font-size: 11px;
  }
  
  .sp-therapy > .therapy-title {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 10px;
  }
  
  
  .sp-therapy > .therapy-title-member {
        font-size: 20px;
        font-weight: 600;    
  }
  
    #price_plan > section.sp-therapy > table td {
        text-align: center;
    } 
    
    #price_plan > section.ticket-plan {
      display: none;
    }
    
    #price_plan > section.sp-ticket-plan {
      display: block;
    }
    
    #price_plan > section.sp-ticket-plan .remarks {
      font-size: 0.9rem;
    }
}
    
    
</style>


<script>
  // document.getElementById("price_change_button").addEventListener('click', function(){
  //   document.getElementById("price_change").style.display = "block";
    
    
  // });
</script>