<div>
    <img src="/new-images/metatron_price_top.jpg" class="about-metatron-top-image" >
    <img src="/new-images/sp_metatron_price.jpg" class="sp-about-metatron-top-image" >
</div>
<div id="coupon-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>

<div id="price_plan">
    <div class="price_plan_coupon">
      <img src="/new-images/20240727/price_list_coupon.png">
    </div>
</div>

<style>

 #price_plan {
   width: 100%;
 }
 
 #price_plan > .price_plan_coupon > img {
   display: block;
   width: 80%;
   margin: 50px auto;
 }
 
@media screen and (max-width: 792px) {
   #price_plan > .price_plan_coupon > img {
     width: 100%;
   }
}




    
    
</style>
