<div>
    <img src="/new-images/metatron_price_top.jpg" class="about-metatron-top-image" >
    <img src="/new-images/sp_metatron_price.jpg" class="sp-about-metatron-top-image" >
</div>
<div id="coupon-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>


<!-- 2025/4/4 工事中にした -->
<div class="construction">工事中です！</div>

<!--<div id="price_plan">-->
<!--    <div class="price_plan_basic">-->
<!--      <img src="/new-images/20240727/price_list_basic.png">-->
<!--    </div>-->
<!--</div>-->
<!--<div class="price_plan_basic_notice">-->
<!--  <ul>-->
<!--      <li>&#12304;出張&#12305;基本は６名以上でお願い致します。少人数や動けない場合や病院などはご相談ください。（出張費は１日毎）</li>-->
<!--      <li>&#9312;片道１時間以内の電車移動の場合 →10,000円の出張費と交通費実費</li>-->
<!--      <li>&#9313;片道１時間以上の電車移動の場合→20,000円の出張費と交通費実費</li>-->
<!--      <li>&#9314;車移動の場合→出張費20,000円と高速代金＋ガソリン代の往復実費（100円未満の切上げ）</li>-->
<!--      <li>&#9315;飛行機の場合→国内20,000円・海外50,000円の出張費と自己手配の飛行機代</li>-->
<!--      <li>&#9316;宿泊が伴う場合は自己手配のホテル代金</li>-->
<!--      <li>※病人チケット及び回数券使用不可です（人数が多い場合は２台体制で伺います）</li>-->
<!--      <li>キャンセルは一週間前までにご連絡ください。</li>-->
<!--      <li>それ以降は人数分の全額キャンセル代として頂きますのでご了承ください</li>-->
<!--  </ul>-->
<!--</div>-->
<!--<div class="price_plan_basic_update">-->
<!-- <h4 class="title">価格改定に関するご案内&#9759;</h4>-->

<!--いつもご利用いただきありがとうございます。-->
<!--弊社ではインボイス制度が導入されるに伴い、今までサービス-->
<!--していましたが、料金に消費税を含めることとなりました。-->
<!--税込価格での価格改定を実施させていただくこととなりました。-->
<!--変更前の税抜価格に加え、消費税率（現在の税率は10%です）を-->
<!--加算した、税込価格での新価格をご案内させていただきます。-->
<!--この価格改定は、インボイス制度の導入に伴い、法律に基づく-->
<!--ものです。-->
<!--ご理解・ご協力のほど、何卒よろしくお願い申し上げます。-->
<!--なお、価格改定後もサービスの品質や内容に変更はございません。-->
<!--引き続き、お客様にご満足いただけるサービスを提供してまいり-->
<!--ます。 -->
<!--ご不明点やお問い合わせがございましたら、お気軽に弊社まで-->
<!--ご連絡ください。-->
<!--今後とも、より一層のご愛顧を賜りますよう、心よりお願い申し上げます。-->
<!--</div>-->
<!-- 2025/4/4 工事中 end -->


<style>

/* 2025/4/4 工事中 */

.construction {
    text-align: center;
    margin: 200px auto;
    font-size: 30px;
    font-weight: bold;
}

/* 2025/4/4 工事中 end */


 .price_plan_basic_update > .title {
     text-align: center;
 }
 
 .price_plan_basic_update {
     width: 65%;
     margin: 50px auto;
 }

 #price_plan {
   width: 100%;
 }
 
 #price_plan > .price_plan_basic > img {
   display: block;
   width: 70%;
   margin: 50px auto;
 }
 
 .price_plan_basic_notice > ul {
     width: 65%;
     margin: 0 auto;
     list-style: none;
     padding-left: 0;
 }
 
 .price_plan_basic_notice > ul > li {
     padding-bottom: 3px;
 }
 
@media screen and (max-width: 792px) {
   #price_plan > .price_plan_coupon > img {
     width: 100%;
   }
   
    #price_plan > .price_plan_basic > img {
       width: 80%;
     }
     
      .price_plan_basic_update {
         width: 70%;
     }
     
     .price_plan_basic_notice > ul {
         width: 70%;
     } 
}
</style>
