<div id="registration-thanks">
    <h4>ご登録・修正ありがとうございます。</h4>
    <p>心と健康を整え</p>
    <p>美への挑戦を御一緒にいたしましょう。</p>
    <!-- 2022-12-07 システムメンテ-->
    <!--<div><= link_to "ご予約はこちら..", "/reserves/h/index" %></div>-->
</div>