<div>
    <img src="/new-images/special_treatment_price_top.jpg" class="about-metatron-top-image" >
    <img src="/new-images/sp_special_treatment_price.jpg" class="sp-about-metatron-top-image" >
</div>
<div id="special_treatment_price">
    <section class="title-area">
        <div class="title-jp">必ずお読みください</div>
        <div class="title-eng">Please be sure to read it</div>
        <div>☆初めに、無料会員登録をしていただくと、会員価格でカレンダーから予約ができます。登録しないで予約の場合は問合せページか電話でご予約承ります。会員価格より2000円高くなりますのでご了承ください。</div><br>
        <div>☆ご予約の際、他の方と一緒になる可能性があります。貸切希望の場合は、予約表が◎になっていることを確認し、備考欄に貸切希望とお書きください。貸切料は5000円プラスでできます。</div><br>
        <div>☆前日、当日キャンセルは現金もしくは、振込にて全額お支払いして頂きますのでご了承下さい。</div><br>
        <div>☆セラピスト指名の場合はカレンダー選択の時に指名お願いします。指名料1000円がかかります。</div><br>
    </section>
    <section class="therapy">
        <div class="therapy-title">セラピー料金<span style="font-size: 16px; font-weight: normal;">　＊HPのサイトに無料登録された方は Members価格になります</span></div>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th rowspan="3" style="background: #000000ba;"></th>
                  <th colspan="4">Wellbeing</th>
                  <th colspan="4">Oriental Holistic</th>
                </tr>
                <tr class="title">
                  <th colspan="2">初めての方</th>
                  <th colspan="2">２回目以降</th>
                  <th colspan="2">初めての方</th>
                  <th colspan="2">２回目以降</th>
                </tr> 
                <tr class="title">
                  <th>基本60分</th>
                  <th>詳細90分</th>
                  <th>基本60分</th>
                  <th>詳細90分</th>
                  <th>基本60分</th>
                  <th>詳細90分</th>
                  <th>基本60分</th>
                  <th>詳細90分</th>                  
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row" style="font-size: 12px;">Non Member</th>
                  <td>17000円</td>
                  <td>20000円</td>
                  <td>14000円</td>
                  <td>18000円</td>
                  <td>20000円</td>
                  <td>23000円</td>
                  <td>16000円</td>
                  <td>20000円</td>
                </tr>                
                <tr>
                  <th scope="row" style="font-size: 12px;">Members</th>
                  <td>14000円</td>
                  <td>18000円</td>
                  <td>12000円</td>
                  <td>16000円</td>
                  <td>17000円</td>
                  <td>21000円</td>
                  <td>14000円</td>
                  <td>18000円</td>
                </tr>
                <tr>
                  <th scope="row" style="font-size: 12px;">Special Members</th>
                  <td>12000円</td>
                  <td>16000円</td>
                  <td>10000円</td>
                  <td>14000円</td>
                  <td>15000円</td>
                  <td>19000円</td>
                  <td>12000円</td>
                  <td>16000円</td>
                </tr>
                <tr>
                  <td scope="row">☆チャクラ＋経穴＋感情診断(30分)　上記と同時 <i class="fas fa-long-arrow-alt-right"></i> 2,000円   単体の予約 <i class="fas fa-long-arrow-alt-right"></i> 5,000円</td>
                </tr>
              </tbody>
            </table>
            
            <div>※ セラピスト指名の場合は指名料が1,000円かかります。</div>
    </section>
    <section class="sp-therapy">
        <div class="therapy-title">セラピー料金</div>
        <div>＊HPのサイトに無料登録された方は </div>
        <div>　Members価格になります</div>
        <div class="therapy-title-member">Wellbeing</div>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th rowspan="2" style="background: #000000ba;"></th>
                  <th colspan="2">初めての方</th>
                  <th colspan="2">２回目以降</th>
                </tr>
                <tr class="title">
                  <th>基本60分</th>
                  <th>詳細90分</th>
                  <th>基本60分</th>
                  <th>詳細90分</th>
                </tr>
              </thead>
              <tbody>
                </tr>                  
                  <th scope="row" style="font-size: 10px;">Non Member</th>
                  <td>17000円</td>
                  <td>20000円</td>
                  <td>14000円</td>
                  <td>18000円</td>
                </tr>               
                <tr>
                  <th scope="row" style="font-size: 10px;">Members</th>
                  <td>14000円</td>
                  <td>18000円</td>
                  <td>12000円</td>
                  <td>16000円</td>
                </tr>
                <tr>
                  <th scope="row" style="font-size: 10px;">Special Members</th>
                  <td>12000円</td>
                  <td>16000円</td>
                  <td>10000円</td>
                  <td>14000円</td>
                </tr>
              </tbody>
            </table>
        <div class="therapy-title-member">Oriental Holistic</div>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th rowspan="2" style="background: #000000ba;"></th>
                  <th colspan="2">初めての方</th>
                  <th colspan="2">２回目以降</th>
                </tr>
                <tr class="title">
                  <th>基本60分</th>
                  <th>詳細90分</th>
                  <th>基本60分</th>
                  <th>詳細90分</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                <tr>
                  <th scope="row" style="font-size: 10px;">Non Member</th>
                  <td>20000円</td>
                  <td>23000円</td>
                  <td>16000円</td>
                  <td>20000円</td>
                <tr>
                  <th scope="row" style="font-size: 10px;">Members</th>
                  <td>17000円</td>
                  <td>21000円</td>
                  <td>14000円</td>
                  <td>18000円</td>
                </tr>
                <tr>
                  <th scope="row" style="font-size: 10px;">Special Members</th>
                  <td>15000円</td>
                  <td>19000円</td>
                  <td>12000円</td>
                  <td>18000円</td>
                </tr>
              </tbody>
            </table>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>☆チャクラ＋経穴＋感情診断(30分)　上記と同時 <i class="fas fa-long-arrow-alt-right"></i> 2,000円   単体の予約 <i class="fas fa-long-arrow-alt-right"></i> 5,000円</th>
                </tr>
              </tbody>
            </table>            
            <div>※ Masako指名の場合は備考欄に書いてください。 指名料1,000円かかります。</div>
    </section>
    <section class="ticket-plan">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th style="background: #000000ba; color: #fff;">お得な回数券(10枚)</th>
                  <th style="background: #000000ba; color: #fff;">集中的に受けたい方</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>「WELL BEING」<br>※「Oriental Holistic」希望の時は都度2,000円追加でお支払いください。<br>
                       Members  <i class="fas fa-long-arrow-alt-right"></i> 115,000円<br>
                       Special Members  <i class="fas fa-long-arrow-alt-right"></i> 87,000円<br><br>
                       ご家族で使用OK、転売不可<br>
                       ・不使用回数券を返金する事はできません<br>
                       ・紹介料キャッシュバック併用不可
                  </td>
                  <td>
                    Members<br>
                    「WELL BEING」 <i class="fas fa-long-arrow-alt-right"></i> 45,000円<br>
                    「Oriental Holistic」 <i class="fas fa-long-arrow-alt-right"></i> 55,000円<br><br>
                    Special Members<br>
                    「WELL BEING」 <i class="fas fa-long-arrow-alt-right"></i> 30,000円<br>
                    「Oriental Holistic」 <i class="fas fa-long-arrow-alt-right"></i> 40,000円<br><br>
                    初日から１ヶ月有効　<i class="fas fa-long-arrow-alt-right"></i>　5回まで<br>
                    ・本人のみ使用可能<br>
                    ・不使用回数券を返金する事はできません<br>
                    ・紹介料キャッシュバック併用不可
                  </td>
                </tr>
                <tr>
                  <td>
                    ☆６人以上の場合は出張も致します。<br>
                    交通費往復＋出張費を頂いています。<br>
                    ①片道60分以内 10,000円<br>
                    ②片道90分以上　実費＋15,000円<br>
                    ③４人以下 ② or  25,000円の高い方<br>
                    宿泊の場合は宿泊費も頂いております。<br>
                    ・回数券併用不要<br>
                    ・出張キャンセルや人数減少は１週間前までにお願いします<br>
                    ・それ以降は人数分の全額を頂いております<br>
                    人数が多い場合には２台体制もご相談にのります<br><br>
                    ・動けない状態の方など、特別な場合はご相談ください<br>
                    １人でも出張費10,000円〜（距離による）＋交通費で伺います<br><br>
                    ２Dで下記の値段<br>
                    ４Dは下記に1,000円UP<br>
                    小学生３年生までは半額<br>
                    小学生４年〜中学２年は8,000円<br>
                    あとは大人と一緒です
                    
                  </td>
                </tr>
              </tbody>
            </table>      
      
    </section>
    <section class="sp-ticket-plan">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th style="background: #000000ba; color: #fff;">お得な回数券(10枚)</th>
                  <!--<th style="background: #000000ba; color: #fff;">集中的に受けたい方</th>-->
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>「WELL BEING」<br>※「Oriental Holistic」希望の時は都度2,000円追加でお支払いください。<br>
                       Members  <i class="fas fa-long-arrow-alt-right"></i> 115,000円<br>
                       Special Members  <i class="fas fa-long-arrow-alt-right"></i> 87,000円<br><br>
                       ご家族で使用OK、転売不可<br>
                       ・不使用回数券を返金する事はできません<br>
                       ・紹介料キャッシュバック併用不可
                  </td>
                </tr>
              </tbody>
            </table>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th style="background: #000000ba; color: #fff;">集中的に受けたい方</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    Members<br>
                    「WELL BEING」 <i class="fas fa-long-arrow-alt-right"></i> 45,000円<br>
                    「Oriental Holistic」 <i class="fas fa-long-arrow-alt-right"></i> 55,000円<br><br>
                    Special Members<br>
                    「WELL BEING」 <i class="fas fa-long-arrow-alt-right"></i> 30,000円<br>
                    「Oriental Holistic」 <i class="fas fa-long-arrow-alt-right"></i> 40,000円<br><br>
                    初日から１ヶ月有効　<i class="fas fa-long-arrow-alt-right"></i>　5回まで<br>
                    ・本人のみ使用可能<br>
                    ・不使用回数券を返金する事はできません<br>
                    ・紹介料キャッシュバック併用不可
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="remarks">
                ☆６人以上の場合は出張も致します。<br>
                交通費往復＋出張費を頂いています。<br>
                ①片道60分以内 10,000円<br>
                ②片道90分以上　実費＋5,000円<br>
                ③４人以下 ② or  25,000円の高い方<br>
                宿泊の場合は宿泊費も頂いております。<br>
                ・回数券併用不要<br>
                ・出張キャンセルや人数減少は１週間前までにお願いします<br>
                ・それ以降は人数分の全額を頂いております<br>
                人数が多い場合には２台体制もご相談にのります<br><br>
                ・動けない状態の方など、特別な場合はご相談ください<br>
                １人でも出張費10,000円〜（距離による）＋交通費で伺います<br><br>
                ２Dで下記の値段<br>
                ４Dは下記に1,000円UP<br>
                小学生３年生までは半額<br>
                小学生４年〜中学２年は8,000円<br>
                あとは大人と一緒です
            </div>
    </section>
</div>

<style>


   #special_treatment_price  section.therapy {
     display: block;
   }
  
   #special_treatment_price  section.sp-therapy {
     display: none;
   }


    #special_treatment_price {
        width: 80%;
        margin: 80px auto 50px;

    }
    
    #special_treatment_price > .construction {
        text-align: center;
        font-size: 3rem;
        font-weight: 600;        
    }
    
    
    #special_treatment_price > .therapy >.therapy-title {
        font-size: 25px;
        font-weight: 600;
        margin-bottom: 30px 0;
    }
    
    #special_treatment_price > section > .title-eng {
        font-size: 2vw;
        font-weight: 500;
        margin-bottom: 30px;
    }
    
    #special_treatment_price > section.therapy > table td {
        text-align: center;
    }
    
    #special_treatment_price > section.ticket-plan {
      display: block;
    }
    
    #special_treatment_price > section.sp-ticket-plan {
      display: none;
    }
    
@media (max-width: 768px) {
  
  #special_treatment_price section.therapy {
    display: none;
  }
  
  #special_treatment_price  section.sp-therapy {
    display: block;
    font-size: 11px;
  }
  
  .sp-therapy > .therapy-title {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 10px;
  }
  
  
  .sp-therapy > .therapy-title-member {
        font-size: 20px;
        font-weight: 600;    
  }
  
    #special_treatment_price > section.sp-therapy > table td {
        text-align: center;
    } 
    
    #special_treatment_price > section.ticket-plan {
      display: none;
    }
    
    #special_treatment_price > section.sp-ticket-plan {
      display: block;
    }
    
    #special_treatment_price > section.sp-ticket-plan .remarks {
      font-size: 0.9rem;
    }
        
    
  
  
}
    
    
</style>