<h3 style="text-align: center; padding-top: 30vh;">建設中！！</h3>

<!--<script src="https://kit.fontawesome.com/051cef80cf.js" crossorigin="anonymous"></script>-->
<!--<div>-->
<!--    <img src="/new-images/special_treatment.jpg" class="about-metatron-top-image" >-->
<!--    <img src="/new-images/sp_special_treatment.jpg" class="sp-about-metatron-top-image" >-->
<!--</div>-->
<!--<div id="special_treatment">-->

<!--    <section class="about-metatron">-->
<!--        <div class="title-1">整体・マッサージ・エステ</div>-->

<!--        <div class="esthe">-->
<!--            <hr>-->
            <!--<h5 style="margin: 30px 0;">エステは２名のエステティシャンがいます。</h5>-->
<!--            <h4>エステ（担当：みつこ）</h4>-->
<!--            <div class="profile" style="margin-bottom: 30px;">-->
<!--                エステティシャン歴7年<br>-->
<!--                ＜保有資格＞<br>-->
<!--                日本エステティック協会認定エステティシャン<br>-->
                
<!--                ＜得意な施術><br>-->
<!--                フェイシャル、リンパマッサージ<br>-->
<!--                &#9312;お客様への小さなアドバイスで、大きな綺麗を提供したい<br>-->
<!--                &#9313;	リンパトレナージュによるケアで基礎代謝を高め疾患の改善を目指したい<br>-->
<!--                &#9314;	男女共に今よりも、もっと綺麗で健康になりたい方に提供したい<br><br>-->
<!--                ただ高級といった化粧品が良いのではなく、一人一人のお客様の肌質にあった基礎化粧品を選ぶだけではなく皮下組織からのタンオーバーを活性化しなければ真の綺麗を追及できません。-->
<!--                老化は止められませんが、遅める事とタンオーバーを今よりも早める事が綺麗になれる近道です。-->
<!--            </div>-->
<!--            <div>☆カウンセリング10分</div>-->
<!--            <ul style="margin-bottom: 20px;">-->
<!--                <li>お客様の健康状態、肌質などの問診を致します。</li>-->
<!--            </ul>-->
<!--            <div>☆フェイシャリエステ(50分　5,000円)</div>-->
<!--            <ul style="margin-bottom: 20px;">-->
<!--                <li>クレンジング→フェイシャルマッサージ→パック→整肌</li>-->
<!--            </ul>-->
<!--            <div>＜オプションメニュー＞</div>-->
<!--            <ul style="margin-bottom: 20px;">-->
<!--                <li>ディープクレンジング　＋1,000円</li>-->
                <!--<li style="list-style: none; margin-bottom: 10px;"></li>-->
<!--                <li>コンサルテーションパック　＋1,000円</li>-->
<!--            </ul>-->
<!--            <div>＜スペシャルメニュー＞</div>-->
<!--            <ul style="margin-bottom: 20px;">-->
<!--                <li>オーダーメイドフェイシャル(デコルテまで)</li>-->
                <!--<li style="list-style: none; margin-bottom: 10px;"></li>-->
<!--                <li>コンサルテーションからお肌のトラブル改善メニューを選択します。</li>-->
<!--            </ul>-->
<!--            <div>＜整肌オプション＞</div>-->
<!--            <ul>-->
<!--                <li>シュプリームマッサージ　＋1,500円</li>-->
<!--                <li>ボタニカルオイルマッサージ　＋1,000円</li>-->
<!--            </ul>-->
<!--            <div>＜お試し＞</div>-->
<!--            <ul>-->
<!--                <li>フェイシャル(デコルテまで)30分：3000円</li>-->
<!--            </ul>            -->
<!--        </div>-->
<!--        <div class="esthe">-->
<!--            <hr>-->
            <!--<h5 style="margin: 30px 0;">エステは２名のエステティシャンがいます。</h5>-->
<!--            <h4>エステ（担当：なるみ）</h4>-->
<!--            <div class="profile" style="margin-bottom: 30px;">-->
<!--                福島県いわき市出身<br>-->
<!--                AB型<br>-->
<!--                特技:写実<br>-->
<!--                趣味:料理<br><br>-->
<!--                セラピスト歴11年<br>-->
<!--                初めていらっしゃる方もすぐに安心して、リラックスして頂けるように心がけてます。<br><br>-->
<!--                強圧弱圧調節できるのでご希望があればおっしゃってください。<br>-->
<!--                他ご要望も承ります。<br><br>-->
<!--                脚のリンパマッサージが好きな方、デコルテ首周りがお疲れの方、是非お任せ下さい<br>-->
<!--                心も体も疲れた時に思い出して会いに来て頂けると嬉しいです、<br><br>-->
<!--                皆様にお会いできる事を楽しみにしております。-->
<!--            </div>-->
<!--            <div>☆オイルマッサージ</div>-->
<!--            <ul style="margin-bottom: 20px;">-->
<!--                <li>30分　3300円</li>-->
<!--                <li>60分　6600円</li>-->
<!--                <li>90分　9900円</li>-->
<!--                <li style="list-style: none; margin-bottom: 10px;"></li>-->
<!--                <li style="list-style: none;">オーガニックオイルでご希望の箇所を流します。</li>-->
<!--                <li style="list-style: none;">（30分で上下どちらか半身。60分で背面表面どちらか）</li>-->
<!--            </ul>-->
<!--            <div>☆リフレクソロジー</div>-->
<!--            <ul style="margin-bottom: 20px;">-->
<!--                <li>30分　3300円</li>-->
<!--                <li>60分　6600円</li>-->
<!--                <li style="list-style: none; margin-bottom: 10px;"></li>-->
<!--                <li style="list-style: none;">足裏の反射区、ふくらはぎ膝裏までオイルで流します。</li>-->
<!--            </ul>-->
<!--            <div>☆フェイシャル</div>-->
<!--            <ul style="margin-bottom: 20px;">-->
<!--                <li>60分　5000円</li>-->
<!--                <li style="list-style: none; margin-bottom: 10px;"></li>-->
<!--                <li style="list-style: none;">デコルテから首、顔までオイルで流します。</li>-->
<!--            </ul>-->
<!--            <div>〜ボディオプション〜</div>-->
<!--            <ul>-->
<!--                <li style="list-style: none;">オイル→ボディセラムに変更：1000円</li>-->
<!--                <li style="list-style: none;">＋ボタニカルオイル：1000円</li>-->
<!--            </ul>-->
<!--            <div>〜フェイシャルオプション〜</div>-->
<!--            <ul>-->
<!--                <li style="list-style: none;">オイル→クリーミーマッサージ：1000円</li>-->
<!--            </ul>            -->
<!--        </div>-->
<!--    </section>-->
<!--</div>-->

