<!--<div id="reserves" class="reserves">-->
<!--  < if admin_user? %>-->
<!--    <= render 'reserves/calender_staff_machine_admin' %>-->
<!--  < else %>-->
    <!--<= render 'reserves/system_mente' %>-->
<!--    <= render 'reserves/calender_staff_machine' %>-->
<!--  < end %>-->
<!--</div>-->
<h2>test test</h2>

