<ul class="staff-select-area">
  <li><%= link_to "指定なし", "/reserves/0/index" %></li>
  <li><%= link_to Staff.find(5).name, "/reserves/5/index" %></li>
  <li><%= link_to Staff.find(6).name, "/reserves/6/index" %></li>
</ul>