
<% if current_user.user_type.to_i === 1 %>
<% logger.debug("~~~~~~~~~~~~ current_user.user_type = #{current_user.user_type}") %>

    <div id="reserves" class="reserves">
      <% if admin_user? %>
        <%= render 'reserves/calender_admin' %>
      <% else %>
        <%= render 'reserves/calender3' %>
      <% end %>
    </div>





<% else %>

<% logger.debug("~~~~~~~~~~~~ else current_user.user_type = #{current_user.user_type}") %>
    <div id="system-mente">
        <h4>システムメンテナンス中</h4>
        <p>※お問合せはLINEでお願いします</p>
    </div>

    <style>
        #system-mente {
            margin: 200px 0;
            text-align: center;
        }
    </style>    
<% end %>



