<div id="reserves" class="reserves">
  <% maintenance_mode = true %>
  <% if maintenance_mode %>
    <%= render 'reserves/system_mente' %>
  <% else %>
    <%= render 'reserves/calender_new' %>
  <% end %>
</div>
