<div class="container">
  <div id="meishiki-show">
      <h2><%= @meishiki.name %></h2>
      
      <hr>
      <div class="meishiki-show">
        <%= image_tag @meishiki.meishiki, class: "meishiki-show-image" %>  
      </div>
  </div>
</div>

<style>

</style>