<section id="access" class="access">
    <div class="access-area">
        <div class="access_title fadein"><img src="/new-images/20240727/access_pic_long.png"></div>
        <div class="sp_access_title fadein"><img src="/new-images/20240727/access_pic_short.png"></div>
        <div class="address-area">
           <div class="address-map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3541.5831629639106!2d139.6950068635786!3d35.65689451997685!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188b5612ab0c99%3A0x474532e9a6d3a018!2z44CSMTUwLTAwNDMg5p2x5Lqs6YO95riL6LC35Yy66YGT546E5Z2C77yR5LiB55uu77yR77yXIOODtOOCp-ODqeODj-OCpOODhOmBk-eOhOWdgg!5e0!3m2!1sja!2sjp!4v1678089434609!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
           <div class="address-info">〒150-0043<br>　渋谷区道玄坂1-17-9<br>　 ヴェラハイツ道玄坂402号室<br>　 080-4426-3718
           <div class="access-info">
               &#9312;渋谷駅からマークシティの４階を進み、道玄坂の上に出るまでまっすぐ外に進みます。<br>
               &#9313;途中、和光、ファミマ、サブウェイがあったらあっています。<br>
               &#9314;外に出たら、すぐ左の横断歩道を松屋方面に渡ってください。<br>
               &#9315;そのまま道なりに進み、喫茶店シャルマン、不動産屋オンエステート、焼肉飯田屋の隣です。<br>
               &#9316;ポストがいっぱい並んでる奥にエレベーターがあります。<br><br>
            神戸サロン(2024年9月1日から移転しました)<br>
            〒650-0001<br>
            兵庫県神戸市中央区加納町2-13-16-502<br>
            新神戸駅から6分</div>
           </div>
        </div>
    </div>
</section>

<style>
    #access  {
        width: 100%;
        /*background: lightgray;*/
    }
    
    .access-area {
        width: 70%;
        margin: 0 auto;
        padding: 4vw 0;
    }
   
    .access-area > .access_title {
        width: 80%;
        margin: 0 auto;
        display: block;
    }
    
    .access-area > .access_title > img {
        width: 100%;
        margin: 0 0 20px;
    }

    .access-area > .sp_access_title {
         display: none;
    }
    

    
    .address-area {
        display: flex;
    }

    .address-area > .address-map {
        width: 35vw;
    }
    
    .address-area > .address-info {
        padding: 0 0 0 20px;
        width: 35vw;
        /*height: 300px;*/
    }    
    
    .address-area > .address-map > iframe {
        width: 35vw;
        height: 22.5vw;
    }
    
    .access-info {
        padding-top: 15px;
    }
    
    @media (max-width: 956px) {
        
        #access  {    
          height: 90vw;
        }
    }
    
    
    @media (max-width: 768px) {
        
        #access  {
            width: 100%;
            height: 160vw;
            /*background: lightgray;*/
        } 
        
    .access-area > .access_title {
        display: none;
    }
    
    .access-area > .sp_access_title {
        width: 80%;
        margin: 0 auto;      
        display: block;
    }
    
    .access-area > .sp_access_title > img {
        width: 100%;
        margin: 0 0 20px;
    }
        
    
        .address-area {
            display: block;
        }
        
        .access-area {
            width: 80%;
            margin: 0 auto;
            padding: 6vw 0;
        }
        
    
        .address-area > .address-map {
            width: 80vw;
            margin-bottom: 50px;
            /*height: 300px;*/
        }
        
        .address-area > .address-info {
            width: 80vw;
            padding: 0 0 0 0;
            /*height: 300px;*/
        } 
        
        .address-area > .address-map > iframe {
            width: 80vw;
            height: 60vw;
        }
        
        .access-info {
            padding: 10px 0 0 0;
        }
        
        
    }
    
    @media (max-width: 650px) {
        #access  {
            height: 180vw;
        }         
        
    }
    
    @media (max-width: 500px) {
        #access  {
            height: 250vw;
        }         
        
    }
    
    
</style>