<section id="metatron-features" class="metatron-features">
        <div class="metatron-features-title">腸もみ・ファスティング</div>
        <p class="detail">
            腸もみとはヒトは冷えると固まりやすい性質があり、全身のどんな場所にもかたまり(しこり)はでき、それは腸にもできます。
            冷え以外にもそのヒトの食生活や姿勢、生活習慣やストレスなどの問題で、たいていのヒトは、硬いおなかになっています。
            腸もみでは、おなかの固くなった部分を中心にマッサージを施すことで緊張をほぐし、腸を本来の良い状態に戻していきます。
        </p>  
        <p class="detail">
            こんな方にお勧め 便秘、疲労感、肌荒れ、アレルギー、冷え性、むくみなどにお困りの方、その他、免疫力を高めて体質改善したい方、予防したい方におススメです
        </p>
        <p class="detail">
            腸もみのメリット腸のぜんどう運動が活発になり、便秘の解消！<br>
            老廃物がスムーズに排泄され、肌の調子が良くなる！<br>
            栄養吸収の効率が高まり、不調の改善に！<br>
            内臓を正しい位置に戻せば、脂肪がつきにくくなる！<br>
        </p>
        <div class="sp-detail">
            腸もみとはヒトは冷えると固まりやすい性質があり、全身のどんな場所にもかたまり(しこり)はでき、それは腸にもできます。
            冷え以外にもそのヒトの食生活や姿勢、生活習慣やストレスなどの問題で、たいていのヒトは、硬いおなかになっています。
            腸もみでは、おなかの固くなった部分を中心にマッサージを施すことで緊張をほぐし、腸を本来の良い状態に戻していきます。
        </div>
        <div class="sp-detail">
            こんな方にお勧め 便秘、疲労感、肌荒れ、アレルギー、冷え性、むくみなどにお困りの方、その他、免疫力を高めて体質改善したい方、予防したい方におススメです
        </div>
        <div class="sp-detail">
            腸もみのメリット腸のぜんどう運動が活発になり、便秘の解消！<br>
            老廃物がスムーズに排泄され、肌の調子が良くなる！<br>
            栄養吸収の効率が高まり、不調の改善に！<br>
            内臓を正しい位置に戻せば、脂肪がつきにくくなる！<br>
        </div>
        <div class="metatron-feature">
            <div class="metatron-feature-each">
                <img src="/img/feature-1.jpg" class="feature-img fadein">
                <div class="title">あなたのチャクラの<br>状態や経絡の状態<br>を知ることができる</div>
                <div class="detail">
                  7つのチャクラをみることができます。チャクラとは身体を何層にも包むエネルギー体のセンター。出入り口のことを言います。
                </div> 
                <div class="sp-detail">
                    7つのチャクラをみることができます。チャク
                    ラとは身体を何層にも包むエネルギー体のセンター。出入り口のことを言います。
                </div>
            </div>
            <div class="metatron-feature-each">
                <img src="/img/holistic9.jpg" class="feature-img fadein" >
                <div class="title">あなたの身体の状態が<br>15～30分でわかる。<br>　</div>
                <div class="detail">
                   メタトロン波動測定器はあなたの身体をナノスキャンし、あなたの身体のどの部分がバランスを崩しているのかを視覚化して見せてれます。
                </div>
                <div class="sp-detail">
                    メタトロン波動測定器はあなたの身体をノスキャンし、あなたの身体のどの部分が
                    バランスを崩しているのかを視覚化して見せてれます。
                </div>                
            </div>      
            <div class="metatron-feature-each">
                <img src="/img/feature-3.jpg" class="feature-img  fadein" >
                <div class="title">今の状態に合う食材<br>合わない食材や漢方<br>などがわかる</div>
                <div class="detail">
                  メタトロンはその食物の周波数と本人の周波数が共鳴しているかどうかをされに測定し視覚化してくれます。
                </div>
                <div class="sp-detail">
                    メタトロンはその食物の周波数と本人の周波数が共鳴しているかどうかをされに測定し
                    視覚化してくれます。
                </div>                 
            </div> 
        </div>
        <div class="sp-about-button">
            <%= link_to about_metatron_path do %>
               <img src="/new-images/about_metatron_button.png" class="sp-about-metatron-link">
            <% end %>
        </div>        
        <div class="about-button">
            <%= link_to about_metatron_path do %>
               <img src="/new-images/about_metatron_button.png" class="about-metatron-link">
            <% end %>
        </div>
</section>

<style>
    .sp-about-button {
        display: none;
    }
    
    .about-button {
        display: block;
    }
    
    @media screen and (max-width: 768px) {
        
        .sp-about-button {
            display: block;
            text-align: center;
            
        } 
        
        .sp-about-button img {
            margin: 50px 0;
            width: 80%;
        }
        
         .about-button {
            display: none;
         }       
        
    }
</style>
