<section id="features" class="features">
    <div class="features-top">
        <a href="#"><img src="/new-images/top-banner.png" class="sp-top-banner" ></a>
        <!--<div class="top-word"></div>-->
        <div class="top-word">すべての人の身体の悩みをメタトロンは解決に導きます。</div>
        <div class="description-area">
           <% text = PageContent.find_by(id: 1).content %>
           <%= simple_format(text) %>
        </div>
    </div>
    <div class="publish-area">
        <div class="woman-title">ウーマン・セレンディピティV<br>に掲載されました(84〜87頁)11月発売</div>
        <img src="/new-images/20241122/woman.JPG" class="woman" >
    </div>
</section>
<section id="metatron-features" class="metatron-features">
        <div class="metatron-features-title">メタトロンの特長</div>
        <p class="detail">
            メタトロンはNONLINERARSYSTEM （非線形診断システム）です。
非接触、非侵襲、短時間で安全にNLS分析理論に基づき、身体の部位含むそれぞれの情報を数値化して、可視化することによって、健康管理に役立つ指標とすることができます。<br><br>

身体のバランスの調整や情報伝達がうまく動いているか？などを調査し可視化したものを、メタセラピーやオルガノセラピーをかけることで正しいバランスに調整していくものです。
<br><br>
なぜ、メタトロンでそんなことができるのでしょう？私たちの臓器や細胞にはそれぞれの固有の周波数があるのですが、それらの周波数が乱れると、不調や病気を引き起こすと考えられています。
メタトロンは、未来の人間ドックと雑誌にも掲載されるほど！旧ソ連時代に国費によって開発されました。
量子論を取入れた、生体細胞情報測定・分析装置です。
<br><br>
波動測定器ではなく、体細胞を構成する素粒子の回転場（トーションフィールド）が、健康的な回転場とどう異なるのか、どう同じなのかを測定、もしくは細胞エネルギーを測定・分析する「非線形生体情報測定
分析装置」です。
<br><br>
世界50ヶ所国以上で採用
世界中の予防医学、未病医学や東洋医学の医療施設で活用されています。
生体共鳴周波数により全身の測定結果を分析するため、既存医学の測定方法とは異なります。
        </p>      
        <div class="sp-detail">
メタトロンはNONLINERARSYSTEM （非線形診断システム）です。
非接触、非侵襲、短時間で安全にNLS分析理論に基づき、身体の部位含むそれぞれの情報を数値化して、可視化することによって、健康管理に役立つ指標とすることができます。<br><br>

身体のバランスの調整や情報伝達がうまく動いているか？などを調査し可視化したものを、メタセラピーやオルガノセラピーをかけることで正しいバランスに調整していくものです。
<br><br>
なぜ、メタトロンでそんなことができるのでしょう？私たちの臓器や細胞にはそれぞれの固有の周波数があるのですが、それらの周波数が乱れると、不調や病気を引き起こすと考えられています。
メタトロンは、未来の人間ドックと雑誌にも掲載されるほど！旧ソ連時代に国費によって開発されました。
量子論を取入れた、生体細胞情報測定・分析装置です。
<br><br>
波動測定器ではなく、体細胞を構成する素粒子の回転場（トーションフィールド）が、健康的な回転場とどう異なるのか、どう同じなのかを測定、もしくは細胞エネルギーを測定・分析する「非線形生体情報測定
分析装置」です。
<br><br>
世界50ヶ所国以上で採用
世界中の予防医学、未病医学や東洋医学の医療施設で活用されています。
生体共鳴周波数により全身の測定結果を分析するため、既存医学の測定方法とは異なります。
        </div>
        
        <div class="metatron-feature">
            <div class="metatron-feature-each">
                <img src="/img/holistic9.jpg" class="feature-img fadein" >
                <div class="title">あなたの身体の状態が<br>15～30分でわかる。<br>　</div>
                <div class="detail">
                   メタトロン波動測定器はあなたの身体をナノスキャンし、<br>
あなたの身体のどの部分がバランスを崩しているのかを<br>視覚化して見せてれます。<br>
チャクラの状態や経絡の状態を知ることができます。<br>
7つのチャクラをみることができます。<br>
チャクラとは身体を何層にも包むエネルギー体のセンター。出入り口のことを言います。
                </div>
                <div class="sp-detail">
                    メタトロン波動測定器はあなたの身体をナノスキャンし、<br>
あなたの身体のどの部分がバランスを崩しているのかを<br>視覚化して見せてれます。<br>
チャクラの状態や経絡の状態を知ることができます。<br>
7つのチャクラをみることができます。<br>
チャクラとは身体を何層にも包むエネルギー体のセンター。出入り口のことを言います。
                </div>                
            </div>      
            <div class="metatron-feature-each">
                <img src="/img/feature-3.jpg" class="feature-img fadein" >
                <div class="title">今の状態に合う食材<br>合わない食材や漢方<br>などがわかる</div>
                <div class="detail">
                  メタトロンはその食物の周波数と本人の周波数が<br>
共鳴しているかどうかをされに測定し視覚化してくれます。<br>
メタトロンを受けることによって、アンバランスがわかり、<br>
バランスを整えていくことによって身体が楽になったりします。
                </div>
                <div class="sp-detail">
                    メタトロンはその食物の周波数と本人の周波数が<br>
共鳴しているかどうかをされに測定し視覚化してくれます。<br>
メタトロンを受けることによって、アンバランスがわかり、<br>
バランスを整えていくことによって身体が楽になったりします。
                </div>                 
            </div> 
        </div>
        <div class="sp-about-button">
            <%= link_to about_metatron_path do %>
               <img src="/new-images/about_metatron_button.png" class="sp-about-metatron-link">
            <% end %>
        </div>        
        <div class="about-button">
            <%= link_to about_metatron_path do %>
               <img src="/new-images/about_metatron_button.png" class="about-metatron-link">
            <% end %>
        </div>
</section>

<style>
    .sp-about-button {
        display: none;
    }
    
    .about-button {
        display: block;
    }
    
    @media screen and (max-width: 768px) {
        
        .sp-about-button {
            display: block;
            text-align: center;
            
        } 
        
        .sp-about-button img {
            margin: 50px 0;
            width: 80%;
        }
        
         .about-button {
            display: none;
         }       
        
    }
    
    
</style>
