<footer id="footer">
  <div class="footer-upper">
    <div><a href="/"><img src="/new-images/logo.png" class="metatron-logo"></a></div>
    <div><img src="/new-images/metatron_tooter_logo.png" class="metatron-logo"></div>
    <div><a href="/users/sign_up"><img src="/new-images/signup.png" class="metatron-logo"></a></div>
    <div><a href="/users/sign_in"><img src="/new-images/login.png" class="metatron-logo"></a></div>
    <div><a href="/reserves/5/index"><img src="/new-images/reserve.png" class="metatron-logo"></a></div>
    <div><a href="/inquiries/new"><img src="/new-images/inquiry.png" class="metatron-logo"></a></div>
  </div>
  <div class="footer-middle">
    <div><%= link_to "HOME", "/", class: "" %></div>
    <div><%= link_to "メタトロンとは", "/about_metatron", class: "" %></div>
    <div><%= link_to "料金表", "/price_plan", class: "" %></div>
    <div><%= link_to "サロンHPについて", "/lppage", class: "" %></div>
  </div>
  <!--<div class="footer-lower">-->
    <!--<div><= link_to "サロンHPについて", "/lppage", class: "" %></div>-->
    <!--<div><= link_to "利用規約", "", class: "" %></div>-->
    <!--<div><= link_to "プライバシーポリシー", "", class: "" %></div>-->
  <!--</div>-->
  <div class="page_up_link"><a href="#" class="page_top"><img src="/new-images/page_top_circle.png"></a></div>
</footer>
<div id="sp-footer">
    <div><a href=""><img src="/new-images/logo.png" class="metatron-logo"></a></div>
    <div><img src="/new-images/metatron_tooter_logo.png" class="metatron-logo"></div>
    <div class="page_up_link"><a class="page_top"><img src="/new-images/page_top_circle.png"></a></div>
</div>

<style>
  #footer {
    font-size: 14px;
  }
  
  #footer a {
    text-decoration: none;
  }
  
  #footer a:hover {
    text-decoration: underline;
  }  
</style>


