<div id="coupon-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>

<section id="plan_price" class="plan_price">
    <img src="/new-images/20240727/price_pic_2.png" class="plan_price_img fadein">
    <div class="detail">
        必ずはじめにお読みください。<br>
        <ul>
            <li>無料会員登録をして頂くと、会員価格にて施術が受けられます。無登録の場合は価格が違いますので、ご確認お願い致します。</li>
            <li>前日、当日のキャンセルにつきましては、全額お支払いお願いしています。チケット消費はできません。<br>銀行振込・キャッシュカードのリンクを送りますので、決済お願い致します。（お問い合せフォームもしくは公式LINEにて申請お願いします。）</li>
            <li>日程変更のご希望の方は２日前までに、新しい予約をした後にお問い合せフォームか公式LINEで申請お願いします。前日、当日変更はお受けできません。</li>
            <li>ご予約の際、ほかの方と一緒になる場合がございます。貸切りご希望の場合は備考欄に貸切り希望と記入お願いします。別途5,000円の貸切料金が必要です。</li>
            <li>出張もいたします。規約や料金等は<%= link_to "こちらから", price_list_select_path, { :remote => true } %>確認お願い致します。</li>
            <li>スタッフは全員オーナーから研修も受け、IPP JAPANの試験にも合格しています。<br>オーナー：まさこ マネージャー：ゆうき
看護師：はるか心理士：ゆか
（希望があれば
鍼灸整体：なお薬剤師：みさき 理学療法士：かな</li>
        </ul>

    </div>
</section>
<section id="sp-plan_price" class="sp-plan_price">
    <img src="/new-images/20240727/price_pic_1.png" class="plan_price_img fadein">
    <div class="detail">
        必ずはじめにお読みください。<br>
        <ul>
            <li>無料会員登録をして頂くと、会員価格にて施術が受けられます。無登録の場合は価格が違いますので、ご確認お願い致します。</li>
            <li>前日、当日のキャンセルにつきましては、全額お支払いお願いしています。チケット消費はできません。<br>銀行振込・キャッシュカードのリンクを送りますので、決済お願い致します。（お問い合せフォームもしくは公式LINEにて申請お願いします。）</li>
            <li>日程変更のご希望の方は２日前までに、新しい予約をした後にお問い合せフォームか公式LINEで申請お願いします。前日、当日変更はお受けできません。</li>
            <li>ご予約の際、ほかの方と一緒になる場合がございます。貸切りご希望の場合は備考欄に貸切り希望と記入お願いします。別途5,000円の貸切料金が必要です。</li>
            <li>出張もいたします。規約や料金等は<%= link_to "こちらから", price_list_select_path, { :remote => true } %>確認お願い致します。</li>
            <li>スタッフは全員オーナーから研修も受け、IPP JAPANの試験にも合格しています。<br>オーナー：まさこ <br>マネージャー：ゆうき
<br>看護師：はるか<br>心理士：ゆか
<br>（希望があれば
鍼灸整体：なお<br>薬剤師：みさき <br>理学療法士：かな）</li>
        </ul>

    </div>    
</section>


<!-- mstarcosmicからcopy -->
<!--<div id="reserveModal" class="" onclick="closeModal(this)">-->
<!--</div>-->





    