<section id="staffs" class="staffs">
    
    <div class="staffs-title"><img src="/new-images/20240727/staff_title.png" class="plan_price_img fadein"></div>  
    <div class="staffs-area">
        <div>
            <img src="/new-images/staffs/masako.png" class="staff-icon">
            <div class="staff-name">オーナーセラピスト</div>
            <div class="staff-name">まさこ</div><br>
            <div class="staff-intro">何をするにも健康第一！そして美！
                全てはバランスを整えるのが大切です。健康を一緒に考えましょう。
                渋谷・神戸を拠点にどこにでも出張します
            </div>
        </div>
        <div>
            <img src="/new-images/staffs/yuki.png" class="staff-icon">
            <div class="staff-name">マネージャーセラピスト</div>
            <div class="staff-name">テラヘルツコーティング</div>
            <div class="staff-name">ゆうき</div>
            <div class="staff-intro">唯一の男性セラピストです。
                元々は整備士ですが今は整美師（笑）
                深く色々掘っていき、根気よく根源を探します。全国出張します。コーティングもします。
            </div>
        </div>
        <div>
            <img src="/new-images/staffs/haruka.png" class="staff-icon">
            <div class="staff-name">リーダーセラピスト</div>
            <div class="staff-name">はるか</div><br>
            <div class="staff-intro">聖路加看護大学卒業
                 虎の門病院 病棟で4年勤務、訪問看護師 6年勤務。
                 明るく、楽しく！知識と経験を活かして予防医学を広めて行きたいです。
            </div>
        </div>
        <div>
            <img src="/new-images/staffs/yuka.png" class="staff-icon">
            <div class="staff-name">セラピスト</div>
            <div class="staff-name">ゆか</div><br>
            <div class="staff-intro">メンタル心理カウンセラー。
                  娘の体調不良をきっかけにメタトロンと出会いました。 
                  ターンオーバー、体と心のバランスの大切さをお伝えしていきたいです。
            </div>
        </div>
        
    </div>
    

</section>

