<% if resource.errors.any? %>
  <div id="error_explanation">
    <!--<h2>< pluralize(resource.errors.count, "error") %> prohibited this user from being saved:</h2>-->
    <ul style="color: red; font-size: 12px;">
      <% resource.errors.full_messages.each do |msg| %>
        <% unless msg.include?("ユーザ は保存されませんでした") %>
          <li><%= msg %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>
