<div class="lppage-top">
</div>

<div id="page_top"><a href="#"></a></div>

<div class="container lppage-main">
    <p class="size-h2">こんな方に是非おすすめです！！</p>
    <p class="size-h3">・施術中に予約の電話が鳴って困る</p>
    　　<p class="size-p">⇨　お客様が予約カレンダーを見ながら予約できる。</p>
    　　<p class="size-p">⇨　施術中も予約を受付できる。</p>
    <div class="lppage-img">
        <img src="img/reservation-window-2.png">
    </div>　　　
    　　<p class="size-p">⇨　過去の予約も全て管理できる。</p>
    　　<p class="size-p">⇨　カレンダーをみれば予約状況（誰がいつ）が一目でわかる。</p>
    <div class="lppage-img">
        <img src="img/admin-reseve-info.png">
    </div>　　
    　　
    <p class="size-h3">・お客様情報をノートやエクセルで管理している。</p>
    　　<p class="size-p">⇨　全会員情報が一覧で見れる。</p>
    　　<p class="size-p">⇨　名前等で検索できる。</p>
    　　<p class="size-p">⇨　会員レベルを修正できる。</p>
    <div class="lppage-img">
        <img src="img/member-index.png">
    </div>　　
    <p class="size-h3">・カード決済も導入したい</p>
　　<p class="size-p">⇨　Paypalを使っているのでクレジットカード情報非保持化に準拠している。</p>
　　<p class="size-p">⇨　カードセキュリティがしっかりしている。</p>    
    <div class="lppage-img">
        <img src="img/paypal.png">
    </div>
    <p class="size-h3">・お問合せの管理がちゃんとできていない。</p>
    　　<p class="size-p">⇨　お問合せをデータベースに保存・管理（受信・一覧・回答等）。</p>
    <p class="size-h3">・会員レベルを設けてレベルごとに金額を変えたい。</p>
    　　<p class="size-p">⇨　例：一般会員・特別会員　など制限なく会員レベルを設定できて。</p>
    　　　　<p class="size-p">それぞれ違う金額を設定出来ます。</p>
    <p class="size-h3">・回数券を発行したいが、管理が難しいから実施できていない。</p>
    　　<p class="size-p">⇨　例：10回チケットを発行して、施術後に消し込みできる。</p>
    <div class="lppage-img">
        <img src="img/coupon-process.png">
    </div>
    <div class="bottom"></div>
    <div class="hpcm-inquiry-btn">
        <%= link_to "HP制作についてのお問合せはこちら--->", new_inquiry_path, class: "btn-inquiry-hpcm" %>
    </div> 　　
</div>



