<div class="container">
    <h2 class="my-reserved-title">タイプ一覧</h2>
    
        <table class="table table-bordered table-schedule">
          <thead>
            <tr>
              <th scope="col">タイプ</th>
              <th scope="col">料金</th></th>
            </tr>
          </thead>
          <tbody>
            <% @user_types.each do |user_type| %>
               <tr>
                  <td><%= link_to user_type.type_name, edit_user_type_path(user_type.id) %></td>
                  <td><%= user_type.price %></td>
               </tr>
            <% end %>
          </tbody>
        </table>
</div>