<div class="construction">
    <h3>お支払い</h3>
    <h4>工事中にて</h4>
    <p>※サロンで現金もしくはカード決済で</p>
    <p>お支払いください。</p>
</div>
<style>

.construction {
    width: 100%;
    margin: 0 auto;
    padding: 100px 0;
}
    h4 {
      padding: 50px 0 0 0;
    }
</style>