<div class="container">
<h3>送信内容</h3>

    
  <div class="field name">
    <span class="Heading">氏名</span><br />
    <p><%= @inquiry.name %></p>
  </div>

  <div class="field">
    <span class="Heading">メール</span><br />
    <p><%= @inquiry.email %></p>
  </div>
  
  
  <div class="field">
    <span class="Heading">内容</span>
    <%= simple_format(@inquiry.content) %>
  </div>


</div>
