<p>こんにちは <%= @resource.email %> 様！</p>

<p>パスワード変更のリンクがリクエストされました。以下のリンクから変更できます。</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>もしこのリクエストに覚えがない場合は、このメールを無視してください。</p>
<p>上記のリンクをクリックして新しいパスワードを作成するまで、パスワードは変更されません。</p>
